* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #aa68a3;
}

.card {
    background-color: rgb(133, 223, 223);
    width: 500px;
    /* height: 630px; */
    margin: 50px auto 50px;
    text-align: center;
    padding: 10px 0 40px 0;
    border-radius: 50px;
    box-shadow: 5px 5px 20px 5px rgb(151, 147, 147);

    /*gradient CSS start */
    background: hsla(302, 55%, 87%, 1);
    background: linear-gradient(90deg, hsla(302, 55%, 87%, 1) 0%, hsla(333, 73%, 85%, 1) 39%, hsla(211, 58%, 79%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(302, 55%, 87%, 1) 0%, hsla(333, 73%, 85%, 1) 39%, hsla(211, 58%, 79%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(302, 55%, 87%, 1) 0%, hsla(333, 73%, 85%, 1) 39%, hsla(211, 58%, 79%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F0CCEF", endColorstr="#F5BFD7", GradientType=1);

    /*gradient CSS end*/
}

.card h1 {
    color: azure;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.search-box input {
    height: 40px;
    width: 60%;
    outline: none;
    border: none;
    border-radius: 100px;
    padding-left: 10px;
    color: rgb(155, 145, 145);
    font-weight: bold;
}

::placeholder {
    color: rgb(155, 145, 145);
}

.search-box div {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    background-color: white;
    padding-top: 12px;
    border-radius: 50%;
}

.search-box img {
    height: 15px;
    width: 15px;
    opacity: 0.5;
}

.weather-details {
    display: none;
}

.weather-details>h1 {
    font-size: 50px;
    color: #aa68a3;
}

.weather-details>h2 {
    font-size: 35px;
    color: #c076b8;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 60px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
}

.error {
    text-align: left;
    padding-left: 80px;
    margin-top: 10px;
    display: none;
}